@media screen and (max-width:820px) {
    .nav__ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #FFA98A;
        top: 80px;
        left: -100%;
        transition: all .5s;

        flex-direction: column;
        align-items: center;
    }

    .menu{
        display: block;
    }

    .nav__li{
       padding: 20px 30px;
       margin-top: 10px;
    }

    .nav__link{
        font-size: 1.3rem;
    }

    .show{
        left:0;
    }
}

@media screen and (max-width: 414px) {
    .logo__figure{
        width: 100px;
        height: 60px;
        cursor: pointer;
    }

    .nav{
        padding: 0 30px;
    }
}